.page {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.twoCol {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 1024px) {
  .twoCol {
    grid-template-columns: 5fr 2fr;
  }
}